@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #66001f;
    color: #fefcef;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: #fefcef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: top 0.3s ease;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #66001f;
    text-decoration: none;
    font-weight: 600;

}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fefcef;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    font-size: 18px;
    color: #66001f;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: palevioletred;
}

.home{
    height: 100vh;
    /*background: url('') no-repeat;*/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{

    background-color: transparent;
    max-width: 600px;
    line-height: 1.2;

}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #66001f;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: palevioletred;
}
.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #66001f;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}

.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #66001f;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background-color: transparent;
}
.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #66001f;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
    z-index: 2;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #fefcef;
    border: 2px solid #fefcef;
    border-radius: 8px;
    font-size: 19px;
    color: #66001f;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #fefcef;

}

.btn-box a:nth-child(2):hover {
    color: #66001f;
}

.btn-box a:nth-child(2):before {
    background: rgb(255, 255, 255);
}

.btn-box a:nth-child(1):hover {
    color: #fefcef;
}
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #66001f;
    color: #fefcef;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #66001f;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #fefcef;
    border-radius: 50%;
    font-size: 20px;
    background: #fefcef;
    color: #66001f;
    text-decoration: none;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #fefcef;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #66001f;
    color: #fefcef;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 650px;
  height: 100%;
  overflow: hidden;
}

.home-imgHover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #66001f 5%, transparent 50%);
  z-index: 2;
  pointer-events: none;
  
}


.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
  
}

.slide.active {
  opacity: 1;
}

.slide:first-child {
  animation: slideInFromRight 1s ease forwards;
}


@keyframes showRight {
    100%{
        width: 0;
    }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.aboutme {
  min-height: 100vh;
  padding: 80px 10%;
  background-color: #fefcef; /* fundo creme */
  color: #66001f; /* texto vinho */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: justify;

}

.aboutme h1 {
  font-size: 48px;
  font-weight: 700;
  color: palevioletred;
  margin-bottom: 30px;
  position: relative;
}

.aboutme h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fefcef;
  animation: showRight 1s ease forwards;
  animation-delay: .5s;
}

.aboutme-content {
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  position: relative;
}

.aboutme-content h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  color: palevioletred;
  position: relative;
}

.aboutme-content h2::before,
.aboutme-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fefcef;
  animation: showRight 1s ease forwards;
  animation-delay: .6s;
}

.services {
  min-height: 100vh;
  padding: 80px 10%;
  background-color: #66001f;
  color: #fefcef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: justify;

}

.services h1 {
  font-size: 48px;
  font-weight: 700;
  color: palevioletred;
  margin-bottom: 30px;
  position: relative;
}

.services h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #66001f;
  animation: showRight 1s ease forwards;
  animation-delay: .5s;
}

.services-content {
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  position: relative;
}

.services-content h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  color: palevioletred;
  position: relative;
}

.services-content h2::before,
.services-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #66001f;
  animation: showRight 1s ease forwards;
  animation-delay: .6s;
}

.contact {
  min-height: 100vh;
  padding: 80px 10%;
  background-color: #fefcef; /* fundo creme */
  color: #66001f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.contact h1 {
  font-size: 48px;
  font-weight: 700;
  color: palevioletred;
  margin-bottom: 30px;
  position: relative;
}

.contact h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fefcef;
  animation: showRight 1s ease forwards;
  animation-delay: .5s;
}

.contact-content {
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  position: relative;
}

.contact-content h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  color: palevioletred;
  position: relative;
}

.contact-content h2::before,
.contact-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fefcef;
  animation: showRight 1s ease forwards;
  animation-delay: .6s;
}


.home-sci-contact{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci-contact::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fefcef;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci-contact a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #66001f;
    border-radius: 50%;
    font-size: 20px;
    background: #66001f;
    color: #fefcef;
    text-decoration: none;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci-contact a:hover{
    color: #66001f;
}

.home-sci-contact a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fefcef;
    color: #66001f;
    z-index: -1;
    transition: .5s;
}

.home-sci-contact a:hover::before {
    width: 100%;
}